<div class="game">
  <div class="header">
    <app-controls
      [boardSize]="boardSize"
      [interval]="interval"
      [colorMode]="colorMode"
      [currentColor]="currentColor"
      [running]="running"
      (boardSizeChangeEvent)="handleChangeBoardSize($event)"
      (intervalChangeEvent)="handleChangeInterval($event)"
      (toggleColorModeEvent)="toggleColorMode()"
      (startGamePlayEvent)="startGame()"
      (stopGamePlayEvent)="stopGame()"
      (resetGamePlayEvent)="resetGame()"
      (randomizeBoardEvent)="randomizeBoard()"
    />
    <app-details [iteration]="iteration" [livingCells]="livingCells" />
  </div>
  <div>
    <div (mouseup)="setDragging(false)" (mouseleave)="setDragging(false)">
      <div *ngIf="!running" class="board">
        <div *ngFor="let row of board; let rowIndex = index">
          <div *ngFor="let cell of row; let colIndex = index">
            <div
              *ngIf="!getCellValue(boardMap, rowIndex, colIndex)"
              class="cell light"
              [ngStyle]="{ width: cellSize, height: cellSize }"
              (mousedown)="setDragging(true, rowIndex, colIndex)"
              (mouseover)="
                dragging && handleMouseOver($event, rowIndex, colIndex)
              "
              (mouseleave)="dragging && handleMouseLeave()"
            ></div>
            <div
              *ngIf="getCellValue(boardMap, rowIndex, colIndex) && !colorMode"
              class="cell dark"
              [ngStyle]="{ width: cellSize, height: cellSize }"
              (mousedown)="setDragging(true, rowIndex, colIndex)"
              (mouseover)="
                dragging && handleMouseOver($event, rowIndex, colIndex)
              "
              (mouseleave)="dragging && handleMouseLeave()"
            ></div>
            <div
              *ngIf="getCellValue(boardMap, rowIndex, colIndex) && colorMode"
              class="cell"
              [ngStyle]="{
                'background-color': currentColor,
                height: cellSize,
                width: cellSize
              }"
              (mousedown)="setDragging(true, rowIndex, colIndex)"
              (mouseover)="
                dragging && handleMouseOver($event, rowIndex, colIndex)
              "
              (mouseleave)="dragging && handleMouseLeave()"
            ></div>
          </div>
        </div>
      </div>
      <div *ngIf="running" class="board">
        <div *ngFor="let row of board; let rowIndex = index">
          <div *ngFor="let cell of row; let colIndex = index">
            <!-- datasets added for future event use -->
            <div
              *ngIf="!getCellValue(boardMap, rowIndex, colIndex)"
              class="cell light"
              [ngStyle]="{ width: cellSize, height: cellSize }"
            ></div>
            <div
              *ngIf="getCellValue(boardMap, rowIndex, colIndex) && !colorMode"
              class="cell dark"
              [ngStyle]="{ width: cellSize, height: cellSize }"
            ></div>
            <div
              *ngIf="getCellValue(boardMap, rowIndex, colIndex) && colorMode"
              class="cell"
              [ngStyle]="{
                'background-color': currentColor,
                height: cellSize,
                width: cellSize
              }"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>
