<div class="game">
  <div class="header">
    <app-controls
      [boardSize]="boardSize"
      [colorMode]="colorMode"
      [currentColor]="currentColor"
      [running]="running"
      (boardSizeChangeEvent)="handleChangeBoardSize($event)"
      (toggleColorModeEvent)="toggleColorMode()"
      (startGamePlayEvent)="startGame()"
      (stopGamePlayEvent)="stopGame()"
      (resetGamePlayEvent)="resetGame()"
      (randomizeBoardEvent)="randomizeBoard()"
    />
    <app-details [iteration]="iteration" [livingCells]="livingCells" />
  </div>
  <div>
    <div class="board">
      <div *ngFor="let row of board; let rowIndex = index">
        <div *ngFor="let cell of row; let columnIndex = index">
          <!-- datasets added for future event use -->
          <div
            *ngIf="!getCellValue(boardMap, rowIndex, columnIndex)"
            class="cell light"
            [ngStyle]="{ width: cellSize, height: cellSize }"
            [attr.data-row]="rowIndex"
            [attr.data-col]="columnIndex"
            (click)="flipCell(rowIndex, columnIndex)"
          ></div>
          <div
            *ngIf="getCellValue(boardMap, rowIndex, columnIndex) && !colorMode"
            class="cell dark"
            [ngStyle]="{ width: cellSize, height: cellSize }"
            [attr.data-row]="rowIndex"
            [attr.data-col]="columnIndex"
            (click)="flipCell(rowIndex, columnIndex)"
          ></div>
          <div
            *ngIf="getCellValue(boardMap, rowIndex, columnIndex) && colorMode"
            class="cell"
            [ngStyle]="{
              'background-color': currentColor,
              height: cellSize,
              width: cellSize
            }"
            [attr.data-row]="rowIndex"
            [attr.data-col]="columnIndex"
            (click)="flipCell(rowIndex, columnIndex)"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>
