<div class="game">
  <div class="header">
    <app-controls
      [boardSize]="boardSize"
      [interval]="interval"
      [colorMode]="colorMode"
      [running]="running"
      (boardSizeChangeEvent)="handleChangeBoardSize($event)"
      (intervalChangeEvent)="handleChangeInterval($event)"
      (toggleColorModeEvent)="toggleColorMode()"
      (startGamePlayEvent)="startGame()"
      (stopGamePlayEvent)="stopGame()"
      (resetGamePlayEvent)="resetGame()"
    />
    <app-details [iteration]="iteration" />
  </div>
  <div>
    <div class="board">
      <div *ngFor="let row of board; let rowIndex = index">
        <ul *ngFor="let cell of row; let colIndex = index">
          <li
            *ngIf="getCellValue(boardMap, rowIndex, colIndex) === 0"
            class="cell rock"
            [ngStyle]="{
              width: cellSize,
              height: cellSize,
              backgroundColor: rockColor
            }"
          ></li>
          <li
            *ngIf="getCellValue(boardMap, rowIndex, colIndex) === 1"
            class="cell paper"
            [ngStyle]="{
              width: cellSize,
              height: cellSize,
              backgroundColor: paperColor
            }"
          ></li>
          <li
            *ngIf="getCellValue(boardMap, rowIndex, colIndex) === 2"
            class="cell scissors"
            [ngStyle]="{
              width: cellSize,
              height: cellSize,
              backgroundColor: scissorsColor
            }"
          ></li>
        </ul>
      </div>
    </div>
  </div>
  <div></div>
</div>
