<div class="controls">
  <form name="gameForm" [formGroup]="gameForm" (ngSubmit)="handleFormSubmit()">
    <button class="submit" type="submit" hidden></button>
    <button (click)="handleGamePlay()">{{ running ? "Stop" : "Start" }}</button>
    <button (click)="handleResetGamePlay()">Reset</button>
    @if (colorMode != null) {
    <button (click)="handleRandomizeBoard()">Random</button>
    @if (colorMode) {
    <button (click)="handleToggleColorMode()">B&W</button>
    } @else {
    <button
      (click)="handleToggleColorMode()"
      [ngStyle]="
        colorButtonHovered
          ? { 'background-color': currentColor }
          : { 'background-color': 'var(--light)' }
      "
      (mouseover)="colorButtonHovered = true"
      (mouseout)="colorButtonHovered = false"
    >
      Color
    </button>
    } } @else {
    <button (click)="handleToggleColorMode()">New Colors</button>
    } @if (untouchedCellBehavior != null) {
    <button
      class="button-pill"
      (click)="handleToggleUntouchedCellBehavior($event)"
      title="Which way should the ant turn if it hits a blank cell? Current Value: {{
        TURN[untouchedCellBehavior]
      }}"
    >
      <div for="default" aria-hidden="false">Default</div>
      <div>
        {{ TURN[untouchedCellBehavior].substring(0, 1) }}
      </div>
    </button>
    }
    <div class="input-pill">
      <label for="boardSize" aria-hidden="false">Size</label>
      <input
        type="number"
        min="{{ minBoardSize }}"
        max="{{ maxBoardSize }}"
        step="{{ boardSizeStep }}"
        id="boardSize"
        formControlName="boardSize"
        value="{{ boardSize }}"
        title="Value from {{ minBoardSize }} to {{ maxBoardSize }}"
      />
    </div>
    <div class="input-pill">
      <label for="interval" aria-hidden="false">Interval</label>
      <input
        type="number"
        min="{{ minInterval }}"
        max="{{ maxInterval }}"
        step="{{ intervalStep }}"
        id="interval"
        formControlName="interval"
        value="{{ interval }}"
        title="Value from {{ minInterval }} to {{ maxInterval }}"
      />
    </div>
    @if (activeGame !== 'life') {
    <button
      class="game-toggle"
      (click)="toggleActiveGame(GAME.LIFE)"
      title="Life"
    >
      <div class="cell"></div>
    </button>
    } @if (activeGame !== 'rps') {
    <button
      class="game-toggle"
      (click)="toggleActiveGame(GAME.RPS)"
      title="Rock, Paper, Scissors"
    >
      <div
        class="circle"
        [ngStyle]="{ 'background-color': '#' + randomColors[0] }"
      ></div>
    </button>
    } @if (activeGame !== 'ant') {
    <button
      class="game-toggle"
      (click)="toggleActiveGame(GAME.ANT)"
      title="Ant"
    >
      <div class="ant">
        <div
          class="ant-body"
          [ngStyle]="{ 'background-color': '#' + randomColors[1] }"
        ></div>
        <div
          class="ant-body"
          [ngStyle]="{ 'background-color': '#' + randomColors[2] }"
        ></div>
        <div
          class="ant-body"
          [ngStyle]="{ 'background-color': '#' + randomColors[3] }"
        ></div>
      </div>
    </button>
    }
  </form>
</div>
