<div class="controls">
  <form name="gameForm" [formGroup]="gameForm" (ngSubmit)="handleFormSubmit()">
    <button class="submit" type="submit" hidden></button>
    <button (click)="handleGamePlay()">{{ running ? "Stop" : "Start" }}</button>
    <button (click)="handleResetGamePlay()">Reset</button>
    <button (click)="handleToggleColorMode()">New Colors</button>
    <div class="pill">
      <label for="boardSize" aria-hidden="false">Size</label>
      <input
        type="number"
        min="{{ minBoardSize }}"
        max="{{ maxBoardSize }}"
        step="{{ boardSizeStep }}"
        id="boardSize"
        formControlName="boardSize"
        value="{{ boardSize }}"
        title="Value from {{ minBoardSize }} to {{ maxBoardSize }}"
      />
    </div>
    <div class="pill">
      <label for="interval" aria-hidden="false">Interval</label>
      <input
        type="number"
        min="{{ minInterval }}"
        max="{{ maxInterval }}"
        step="{{ intervalStep }}"
        id="interval"
        formControlName="interval"
        value="{{ interval }}"
        title="Value from {{ minInterval }} to {{ maxInterval }}"
      />
    </div>
  </form>
</div>
