:host {
  --black: #101010;
  --white: #ffffff;

  --dark: var(--black);
  --light: var(--white);
}

.controls {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  height: 40px;
  width: 9rem;
  font-family: monospace;
  font-size: 16px;
  color: var(--dark);
  background-color: var(--light);
  border: 1px solid var(--dark);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--light);
}

button.game-toggle {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;

  font-family: monospace;
  font-size: 16px;
  color: var(--dark);
  background-color: var(--light);
  border: 1px solid var(--dark);
  border-radius: 5px;
  cursor: pointer;
}

.cell {
  width: 18px;
  height: 18px;
  border-radius: 10%;
  background-color: var(--dark);
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.ant {
  background-color: var(--light);
}

.ant-body {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: var(--dark);
}

.button-pill {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-pill {
  height: 39px;
  width: 9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  background-color: var(--light);
  border: 1px solid var(--dark);
  border-radius: 5px;
}

label {
  color: var(--dark);
}

input {
  text-align: center;
  height: auto;
  width: auto;
  font-family: monospace;
  font-size: 16px;
  border: none;
  outline: 1px dashed var(--dark);
  border-radius: 5px;
}

input:focus {
  outline: 1px solid var(--dark);
  background: var(--dark);
  color: var(--light);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
