:host {
    font-family: "Fira Code", "Fira Mono", Consolas, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
    --black: #101010;
    --white: #ffffff;

    --dark: var(--black);
    --light: var(--white)
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--dark);
}