<div class="details">
  <span>Iteration: {{ this.iteration.toString().padStart(6, "0") }}</span>
  <span *ngIf="this.livingCells != null">
    Living Cells: {{ this.livingCells.toString().padStart(6, "0") }}</span
  >
  <span *ngIf="turnSequence != null">
    <form
      name="sequenceForm"
      [formGroup]="sequenceForm"
      (ngSubmit)="handleFormSubmit()"
    >
      <button class="submit" type="submit" hidden></button>

      <div class="input-pill">
        <label for="sequence" aria-hidden="false">Turns:</label>
        <input
          type="text"
          id="sequence"
          formControlName="sequence"
          value="{{ this.castedTurnSequence }}"
          title="Value from min to max"
        />
      </div>
    </form>
  </span>
</div>
